<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div style="text-align:center; margin:0 15px 34px 15px">
        <div style="margin-bottom: 10px">
            <img alt="Logo" src="https://res.cloudinary.com/eslamayman741/image/upload/v1718308015/FinalFullLogo_w2bt9f.png" style="height: 60px" />
        </div>
        <div style="font-size: 14px; font-weight: 500; margin-bottom: 27px; font-family:Arial,Helvetica,sans-serif;">
            <p style="margin-bottom:9px; color:#181C32; font-size: 22px; font-weight:700">[header]</p>
            <p style="margin-bottom:2px; color:#7E8299">[body]</p>
        </div>
        <a href='[url]' target="_blank" style="background-color: #009ef7; border-radius: 6px; display: inline-block; padding: 11px 19px; color: #FFFFFF; font-size: 14px; font-weight: 500; text-decoration: none;">[linkTitle]</a>
    </div>
</body>
</html>
